@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

/*
=============================================================
    Start of Intro
=============================================================
*/

.intro {
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro img {
    width: 350px;
    height: 350px;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
    rgba(10, 37, 64, 0.5) 0px -2px 6px 0px inset;
}

.intro-1 {
    font-family: 'Roboto','Times New Roman', Times, serif;
    text-align: center;
    font-size: 20px;
    margin: 20px;
    padding: 10px;
}

.purpose {
    text-decoration: underline;
    font-weight: bold;
}

/*
=============================================================
    End of Intro
=============================================================
*/
/*
=============================================================
    Start of Testimonial
=============================================================
*/

.testimonials {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
}



figure.t-cards {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 10px;
    width: 95%;
    color: #000000;
    text-align: center;
    font-size: 16px;
    background-color: rgb(51,102,150);
    padding: 30px;
    box-sizing: border-box;
    border-radius: 10px;
  }

figure.t-cards *,
figure.t-cards *:before,
figure.t-cards *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }

figure.t-cards figcaption {
    width: 100%;
  }

figure.t-cards h2,
figure.t-cards h4,
figure.t-cards blockquote {
    margin: 0;
  }

figure.t-cards h2,
figure.t-cards h4 {
    font-weight: 300;
  }

figure.t-cards h2 {
    color: #ffffff;
  }

figure.t-cards h4 {
    color: #a6a6a6;
  }

figure.t-cards blockquote {
    font-size: 1em;
    padding: 45px 20px 40px 50px;
    margin-top: 30px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: inset -1.4px -1.4px 2px rgba(0, 0, 0, 0.3);
    text-align: left;
    position: relative;
  }

figure.t-cards blockquote:before {
    font-family: 'FontAwesome';
    content: "\201C";
    position: absolute;
    font-size: 70px;
    opacity: 0.25;
    font-style: normal;
    top: 0px;
    left: 20px;
  }

figure.t-cards .profile {
    width: 100px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
    border: solid 5px #A6A57A;
  }
  /*
=============================================================
    End of Testimonials
=============================================================
*/
/*
=============================================================
    Start of MQ
=============================================================
*/
@media (min-width: 750px) {
    .intro {
        flex-direction: row;
        padding: 20px;
        justify-content: space-around;
    }

    .intro img {
        width: 400px;
        height: 450px;
    }

    .intro-1 {
        font-size: 20px;
        width: 60%;
        font-size: x-large;
    }

    .testimonials {
        flex-direction: row;
    }
}


@media (min-width: 1025px) {
    .intro {

    }

    .intro img {
        width: 650px;
        height: 650px;
    }
    
    .intro-1 {
        border-top: 2.5px solid rgb(217, 217, 217);
        font-size: 2rem;
    }
}
